<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.376573772044-9e9s0f253g63th2hj4ji1s55oss7frmc</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>376573772044-9e9s0f253g63th2hj4ji1s55oss7frmc.apps.googleusercontent.com</string>
</dict>
</plist>
