<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892679072689-l9lgo707mk3if5v3gpm6vo2ij283n4oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892679072689-l9lgo707mk3if5v3gpm6vo2ij283n4oq</string>
	<key>API_KEY</key>
	<string>AIzaSyBzEJHRHgDWG_PvwPqCawgYJk0zWduZAPo</string>
	<key>GCM_SENDER_ID</key>
	<string>892679072689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs184-group-2.ucsb-bathrooms</string>
	<key>PROJECT_ID</key>
	<string>ucsb-bathrooms</string>
	<key>STORAGE_BUCKET</key>
	<string>ucsb-bathrooms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892679072689:ios:e8bc13929af71701dceb90</string>
</dict>
</plist>